# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Environment
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# IDE & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Capacitor / Mobile
# Note: In Capacitor, it's recommended to commit the 'android' and 'ios' folders, 
# as they contain native configurations. Capacitor automatically adds its own
# .gitignore inside those folders to ignore the compiled build artifacts.
